
.options-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.option-item {
  border-radius: 0.5rem;
  border: 1px solid var(--tui-border-normal);
  padding: 1rem;
  background-color: var(--tui-background-neutral-1);
  cursor: pointer;
}

.option-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  user-select: none;
}

.option-title {
  margin: 0;
}

.votes-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
