<div class="polls-container">

  <h2 tuiTitle class="polls-title">
    Enquetes
  </h2>
  <div appearance="floating" tuiCardLarge>

    <div class="form-layout">
      <label tuiLabel class="form-label">Título da Enquete *</label>
      <div class="input-group">
        <tui-textfield class="flex-1">
          <input tuiInput [(ngModel)]="novoTitulo" placeholder="Ex: Quem vai ganhar a copa do mundo de 2026?" />
        </tui-textfield>
      </div>

      <div class="form-section">
        <label tuiLabel class="form-label">Descrição</label>
        <tui-textfield class="flex-1">
          <input tuiInput [(ngModel)]="novaDescricao" placeholder="Contexto sobre a enquete" />
        </tui-textfield>
      </div>

      <div class="form-section">
        <label tuiLabel class="form-label">Opções da Enquete *</label>
        
        @for (opcao of novasOpcoes; track opcao.id; let i = $index) {
          <div class="option-row">
            <tui-textfield class="flex-1">
              <input tuiInput [(ngModel)]="opcao.value" placeholder="Opção {{ i + 1 }}" />
              <button 
                tuiButton 
                size="s" 
                appearance="flat"
                (click)="removerOpcaoForm(i)"
                [disabled]="novasOpcoes.length <= 2"
              >
                <tui-icon [icon]="'@tui.trash'" class="icon-margin"></tui-icon>
                Remover
            </button>
            </tui-textfield>
          </div>
        }

        <div class="add-option-btn-container">
          <button tuiButton size="m" appearance="outline" (click)="adicionarOpcaoForm()">
            + Adicionar Opção
          </button>
        </div>
      </div>

      <div class="submit-btn-container">
        <button tuiButton size="m" appearance="primary" (click)="criarEnquete()">Criar Enquete</button>
      </div>
    </div>
  </div>

  <hr class="divider" />

  @if (polls.length === 0) {
    <div class="empty-state">
      <h3 tuiTitle>
        Nenhuma enquete criada
        <span tuiSubtitle>Crie sua primeira enquete usando o formulário acima</span>
      </h3>
    </div>
  } @else {
    <div class="polls-grid">
      @for (poll of polls; track poll) {
        <app-card-component 
          [titulo]="poll.titulo" 
          [descricao]="poll.descricao" 
          [options]="poll.options"
          (onVotarOpcao)="votarNaEnquete(poll, $event)"
          class="poll-card"
        ></app-card-component>
      }
    </div>
  }
</div>
